name: resolve CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install deps
        run: make install-packages
      - name: Build
        run: make build
      - name: Test
        run: make test